{
  "repository_url": "https://github.com/eulemitkeule/device-tools.git",
  "branches": [
    {
      "name": "1.x",
      "range": "1.x",
      "channel": "1.x"
    },
    "master",
    {
      "name": "dev-2.x",
      "prerelease": "beta",
      "channel": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ],
  "tagFormat": "${version}"
}
