{
  "repository_url": "https://github.com/eulemitkeule/device-tools.git",
  "branches": [
    "master",
    "1.x"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ],
  "tagFormat": "${version}"
}
